.body-container {
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  background-color: aquamarine;
  color: rgb(22, 21, 22);
}
.restocards-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.top-btn{
  margin-top: 10px;
}
.card-container {
  width: 200px;
  background-color: #f0f0f0;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.card-container:hover {
  border: 1px solid black;
}
.item {
  margin-left: 20px;
}
.img-rest {
  width: 120px;
  height:120px;
  padding: 10px 40px;
  align-self: center;
}
