.header-container {
  display: flex;
  border: 1px solid black;
  height: 100px;
  width: 100%;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.header-container > ul {
  display: flex;
  list-style-type: none;
}
.header-container > ul > li {
  padding: 10px;
  margin: 10px;
}
